
# --- Backend y Web ---
fastapi
uvicorn[standard]
python-dotenv
jinja2
boto3
pypdf
ddgs

# --- IA y LangChain ---
langchain
langchain-community
langchain-core




langchain-google-genai

# --- Base de Datos Vectorial ---
chromadb-client


# --- Herramientas (Tools) ---
duckduckgo-search

# --- ¡NUEVAS DEPENDENCIAS PARA EMBEDDINGS! ---
onnxruntime
sentence-transformers

# --- LOGUIN
sqlalchemy
passlib[bcrypt] # Para hashear contraseñas de forma segura
python-jose[cryptography] 
bcrypt==3.2.0 
